body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/color-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;
}

#banner-text {
  font-family: 'Lato', sans-serif !important;
  text-align: center;
  color: #ffffff;
  padding: 20px; /* Add some padding for space around the text */
}

#banner-text h1 {
  font-weight: bold;
  font-size: 24px; /* Slightly reduce the font size for mobile */
}

#banner-text p {
  font-style: italic;
  font-size: 14px; /* Reduce the font size for mobile */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background-image: url("/assets/images/card-bg.png");
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 100%; /* Allow the card to take full width on mobile */
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.song-info {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.song-info img {
  width: 100px; /* Reduce the image size for mobile */
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.song-info p {
  margin-bottom: 5px;
}

/* Play Controls */
.play-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.play-controls button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* Volume and Time Controls */
.volume-and-time {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.volume-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volume-control {
  width: 100px;
  margin-right: 10px;
}

.current-volume {
  color: #ffffff;
  font-size: 16px; /* Slightly reduce the font size for mobile */
}

.time-track {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.time-track input {
  flex-grow: 1;
  margin: 0 10px;
}

#install-button {
  background-color: #ffffff;
  color: #333;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

#install-button:hover {
  background-color: #000;
  color: #ffffff;
}

@media (max-width: 768px) {
  .card {
    max-width: 90%;
  }
}
